HTTP_PROTOCOL=http
HTTP_HOST=localhost
HTTP_PORT=3902
HTTP_HOSTNAME="$HTTP_HOST:$HTTP_PORT"
HTTP_ADDR="$HTTP_HOSTNAME"
HTTP_URI="$HTTP_PROTOCOL://$HTTP_HOSTNAME/"

DB_NAME=dport_instance
#DB_URI="mongodb://localhost/"

APP_NAME="Digital Portfolio"
APP_ENV="development"
APP_KEY="the_secret_key"
APP_MODE="online"

DB_AUTH="dport_auth"
DB_FILE="dport_storage"
DB_ACCOUNT="dport_account"
DB_PROFILE="dport_profile"

#HTTP_GATEWAY="127.0.0.1:3901"
HTTP_INSTANCE="127.0.0.1:3902"
HTTP_STORAGE="127.0.0.1:3903"
HTTP_AUTH="127.0.0.1:3904"
HTTP_ACCOUNT="127.0.0.1:3905"
HTTP_PROFILE="127.0.0.1:3906"
HTTP_WEB="127.0.0.1:3907"